{% comment %}
  Welcome to Shopify theme development!
{% endcomment %}

<div class=" max-h-screen h-full">
  <h1 class="text-4xl font-primary">Body</h1>
</div>

{% schema %}
{
  "name": "Hello World",
  "settings": [],
  "presets": [
    {
      "name": "Hello World Template",
      "category": "Demo"
    }
  ]
}
{% endschema %}
